#logo{
    height: 8vh;
    width: auto;
}

.carousel-item{
    height:60vh; 
    object-fit: cover;
    background-position: center;
}


.photo-carousel{
    margin-top: 5vh !important;
    width: 80vw;
    margin: 0;
}